
.names{
    padding-top: 10px ;
    border: 2px solid #5cdbf1;
    height:50px;
    width: 400px;
    margin-top: 5px ;
    margin-left: 46px;
    margin-bottom: 5px;
  border-radius: 10px;
  color:#f0e5e5;
  font-size: 17px;
  text-align:center;
  
  }

  